:root {
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--very-dark-blue);
}

.header {
  background-color: var(--off-white);
  padding: 2rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .nav-links ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}

.header .nav-links a:hover {
  color: var(--soft-red);
}

.hamburger,
.mobile-menu {
  display: none;
}
.logo img {
  height: 2rem;
  object-fit: contain;
}

.main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 3rem 10rem;
  gap: 3rem;
}

.main-section .left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.main-section .left img {
  height: 25rem;
  object-fit: contain;
}

.bottom-stuff {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: row;
  padding: 1rem 0;
  gap: 3rem;
}

.bottom-stuff h1 {
  font-size: 3rem;
  color: var(--very-dark-blue);
}

.bottom-stuff p {
  font-size: 1.2rem;
  color: var(--very-dark-blue);
}

.bottom-stuff button {
  padding: 1rem 2rem;
  border: none;
  background-color: var(--soft-red);
  color: var(--off-white);
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.bottom-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 3rem;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
}
@media screen and (max-width: 768px) {
  .header {
    padding: 2rem 2rem;
  }
  .header .nav-links ul {
    display: none;
  }
  .hamburger {
    display: inline-block;
  }
  .hamburger i {
    font-size: 2rem;
    cursor: pointer;
  }
  .hamburger i:hover {
    color: var(--soft-red);
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100vh;
    background-color: var(--off-white);
    z-index: 100;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .active {
    right: 0;
    transition: 0.5s;
  }
  .mobile-menu ul {
    margin-top: 8rem;
  }

  .times {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 2rem;
  }

  .mobile-menu li {
    padding: 1rem 0;
    font-size: 1rem;
    color: var(--very-dark-blue);
  }
}

.attribution {
  font-size: 1rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
